.resetBtn {
  border: none;
  width: 150px;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(97, 92, 92);
  transition: all 50ms linear;
}

.resetBtn:active {
  transform: translate(2px, 2px);
  box-shadow: 0px 0px 3px rgb(97, 92, 92);
  background-color: rgb(146, 146, 214);
}

.resetBtn{
  color: #626262;
}